[submodule "extlibs/asio"]
	path = extlibs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "extlibs/tropicssl"]
	path = extlibs/tropicssl
	url = https://github.com/binary1248/tropicssl.git
[submodule "extlibs/http-parser"]
	path = extlibs/http-parser
	url = https://github.com/joyent/http-parser.git
