[submodule "extlibs/asio"]
	path = extlibs/asio
	url = git://github.com/chriskohlhoff/asio.git
[submodule "extlibs/tropicssl"]
	path = extlibs/tropicssl
	url = git@github.com:binary1248/tropicssl.git
