[submodule "extlibs/asio"]
	path = extlibs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "extlibs/tropicssl"]
	path = extlibs/tropicssl
	url = https://github.com/binary1248/tropicssl.git
